.s-hero {
  overflow: hidden;
  padding: 7.5rem 0 0;
  background: url(../assets/svg/bg-hero.svg) no-repeat center center;
  background-size: cover;
  .container {
    @include flex(row, flex-start, space-between);
    .left {
      flex: 1;
      .logo {
        max-width: 17.6rem;
      }
      .text {
        margin: 2.4rem 0 3.2rem;
        max-width: 59.2rem;
        h1 {
          color: $gray-06;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 5.4rem;
          strong {
            color: $primary-orange;
            text-decoration-line: underline;
          }
        }
        p {
          margin-top: 2.4rem;
          color: $gray-06;
          opacity: 0.8;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 3.6rem;
        }
      }
    }
  }
  @include responsivo("tablet") {
    padding: 7rem 0 0;
    .container {
      flex-direction: column;
      .left {
        text-align: center;
        margin: 0 auto;
        @include flex(column, center, center);
        .logo {
          margin-bottom: 2.4rem;
        }
      }
      .right {
        margin: 3.2rem auto 0;
      }
    }
  }
  @include responsivo("mobile") {
    .container {
      .left {
        .text {
          p {
            font-size: 2rem;
            line-height: 3.2rem;
          }
        }
      }
      .right {
        img {
          max-width: 30rem;
        }
      }
    }
  }
}

.s-video {
  overflow: hidden;
  position: relative;
  top: -2.8rem;
  .container {
    padding: 5.6rem 0 6.7rem;
    background-color: $gray-05;
    border-radius: 1rem;
    .top {
      @include flex(row, flex-start, space-between);
      .left {
        span {
          margin-left: 7rem;
          opacity: 0.05;
        }
        h3 {
          margin-top: -3.2rem;
          margin-left: 10.4rem;
          max-width: 36.5rem;
          font-weight: 700;
        }
      }
      .right {
        margin-top: 4.8rem;
        margin-right: 6.9rem;
        .items-benefits {
          @include flex(row, flex-start, center);
          flex-wrap: wrap;
          max-width: 62.4rem;
          gap: 1.1rem;
          row-gap: 3.2rem;
        }
      }
    }
    .bottom {
      @include flexTotalCenter;
      flex-direction: column;
      .video-vendas {
        margin-top: 5.2rem;
        margin-bottom: 5.9rem;
        border-radius: 1rem;
      }
    }
  }
  @include responsivo("laptop") {
    .container {
      .top {
        flex-direction: column;
        .left {
          margin: 0 auto;
        }
        .right {
          margin: 4rem auto 0;
        }
      }
      .bottom {
        iframe {
          width: 90%;
        }
      }
    }
  }
  @include responsivo("mobile") {
    .container {
      .top {
        .left {
          span.tag {
            margin: 0 auto;
            text-align: center;
          }
          h3 {
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
}

.s-sobre {
  overflow: hidden;
  padding: 11.2rem 0;
  .container {
    @include flexTotalCenter;
    gap: 6rem;
    .left {
      h2 {
        margin-top: -2.8rem;
      }
      max-width: 52.2rem;
      .text-sobre {
        margin-top: 1.6rem;
        p {
          line-height: 150%;
          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }
  @include responsivo("tablet") {
    padding: 5.4rem 0;
    .container {
      flex-direction: column;
    }
  }
  @include responsivo("mobile") {
    padding: 3.2rem 0;
  }
}

.s-versus {
  overflow: hidden;
  background-color: $gray-05;
  padding: 5.6rem 0 6.6rem;
  h2 {
    text-align: center;
  }
  .container {
    @include flex(row, center, space-evenly);
    position: relative;
    .left {
      span.tag {
        position: absolute;
        transform: rotate(-90deg);
        top: 39.3rem;
        left: -11.2rem;
        z-index: 0;
      }
    }
    .right {
      span.tag {
        position: absolute;
        transform: rotate(90deg);
        top: 37.3rem;
        right: -18.7rem;
        z-index: 0;
      }
    }
    .items-versus {
      margin-top: 5.2rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      .item-versus {
        background-color: hsla(22, 87%, 57%, 0.2);
        padding: 3.2rem 3.2rem;
        width: 100%;
        max-width: 48.5rem;
        span {
          display: block;
          color: $gray-01;
          font-size: 2rem;
          line-height: 130%;
          max-width: 36.625rem;
          width: 100%;
        }
      }
    }
  }
  @include responsivo("laptop") {
    .container {
      flex-direction: column;
      .left {
        margin-top: 4rem;
        span.tag {
          text-align: center;
          position: static;
          transform: rotate(0);
        }
        .items-versus {
          margin-top: 3.2rem;
        }
      }
      .dots {
        display: none;
      }
      .right {
        margin-top: 4rem;
        span.tag {
          position: static;
          transform: rotate(0);
          text-align: center;
          max-width: 24.8rem;
          margin: 0 auto;
        }
        .items-versus {
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}

.s-depoimentos {
  overflow: hidden;
  padding: 11.2rem 0;
  .container {
    h2 {
      text-align: center;
      margin-bottom: 5.4rem;
    }
    .mySwiper {
      cursor: grab;
    }
    // .swiper-pagination {
    //   position: relative;
    //   max-width: 6.6rem;
    //   margin: 0 auto;
    //   margin-top: 4rem;
    //   &-bullet-active {
    //     background-color: $primary-orange;
    //   }
    // }
    .btns {
      .btn {
        &.swiper-button-disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
      margin-top: 3.2rem;
      display: flex;
      justify-content: center;
      .btn.btn-prev-dep {
        transform: rotate(180deg);
      }
    }
  }
  @include responsivo("mobile") {
    padding: 3.2rem 0;
  }
}

.s-entregaveis {
  overflow: hidden;
  padding-bottom: 11.2rem;
  overflow: hidden;
  .top {
    @include flexSpaceBetween;
    .left {
      p {
        font-size: 2.4rem;
        line-height: 3.6rem;
        max-width: 87rem;
        margin-top: -3rem;
      }
    }
    .right {
      @include flex-center;
      gap: 4rem;
      .btns {
        @include flex-center;
        .btn {
          width: 32px;
          height: 32px;
          &.btn-prev {
            transform: rotate(180deg);
          }
          &.swiper-button-disabled {
            opacity: 0.4;
            pointer-events: none;
          }
        }
      }
    }
  }
  .bottom {
    margin-top: 9.2rem;
    .item-entregavel {
      padding: 4rem 4rem 5.3rem 1.6rem;
      border: 1px solid $gray-02;
      max-width: 40.1rem;
      border-radius: 1rem 1rem 4rem 1rem;
      width: 100%;
      cursor: grab;
      height: 21rem;
      h3 {
        font-size: 2rem;
        line-height: 130%;
        font-weight: 700;
      }
      span {
        margin-top: 0.8rem;
        display: block;
        font-size: 2rem;
        line-height: 130%;
      }
    }
  }
  @include responsivo("tablet") {
    .container {
      .top {
        flex-direction: column;
        .left {
          margin-bottom: 4rem;
        }
        .right {
          .btns {
            .btn {
              width: 5.2rem;
              height: 5.2rem;
            }
          }
        }
      }
      .bottom {
        margin-top: 5.6rem;
      }
    }
  }
  @include responsivo("mobile") {
    .container {
      .bottom {
        .item-entregavel {
          padding-top: 2rem;
          span {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.s-bonus {
  overflow: hidden;
  padding-bottom: 14.2rem;
  .container {
    position: relative;
    span.tag {
      text-align: center;
    }
    img {
      margin: 0 auto;
      margin-top: -52px;
      max-width: 539px;
    }
    .bonus {
      max-width: 32rem;
      position: absolute;
      &.left {
        top: 20rem;
      }
      &.bottom {
        bottom: -14.5rem;
        left: 44.8rem;
        max-width: 33rem;
      }
      &.right {
        right: 4.5rem;
        top: 27.3rem;
      }
      strong {
        font-size: 2rem;
        font-weight: 700;
        line-height: 120%;
        display: block;
        margin-bottom: 2.4rem;
      }
      p {
        font-size: 2rem;
        line-height: 120%;
      }
    }
  }
  .bonus-mobile {
    display: none;
  }
  @include responsivo("laptop") {
    .container {
      display: none;
    }
    .bonus-mobile {
      display: block;
      span.tag {
        text-align: center;
      }
      img {
        max-width: 31.7rem;
        margin: 0 auto;
      }
      .item-bonus {
        display: flex;
        justify-content: center;
        span.tag {
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 6.9568rem;
          font-weight: 800;
          line-height: 156.527px;
          text-transform: uppercase;
        }
        .text {
          margin-top: 4.1rem;
          h3 {
            color: $gray-01;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 120%;
          }
          p {
            margin-top: 1.2rem;
            max-width: 24.4rem;
          }
        }
      }
    }
  }
  @include responsivo("mobile") {
    padding: 3.2rem 0;
  }
}

.s-garantia {
  overflow: hidden;
  padding: 11.2rem 0;
  .container {
    background-color: $primary-orange;
    border-radius: 1rem;
    padding: 5.4rem 0 6.2rem;
    h2 {
      text-overflow: ellipsis;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 54px;
      text-decoration-line: underline;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 3.2rem;
    }
    p {
      text-align: center;
      font-size: 2.4rem;
      line-height: 3.6rem;
      max-width: 87rem;
      margin: 0 auto;
    }
    a {
      margin: 52px auto 0;
    }
  }
  @include responsivo("tablet") {
    .container {
      p {
        font-size: 2rem;
        padding: 0 1.6rem;
        line-height: 3.2rem;
      }
    }
  }
  @include responsivo("mobile") {
    padding: 3.2rem 0;
  }
}

.s-faq {
  padding-bottom: 11.2rem;
  .text {
    text-align: center;
    margin-top: -3.1rem;
  }
  .faq {
    margin-top: 6.2rem;
    .item-faq {
      @include flex(column, center, center);
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      button {
        color: $gray-01;
        border-radius: 1rem;
        font-weight: 600;
        line-height: 1.92rem;
        font-size: 1.6rem;
        padding: 2.2rem 3.2rem 2.2rem 2.4rem;
        background-color: $gray-05;
        width: 100%;
        max-width: 86.4rem;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: hsla(210, 14%, 89%, 0.7);
        }
        @include flexSpaceBetween;
        img {
          max-width: 2.3rem;
          transition: all 0.3s;
        }
      }
      p {
        background-color: $gray-05;
        max-width: 91.8rem;
        padding: 1.6rem 2.4rem;
        border-top: 1px solid hsla(210, 14%, 89%, 0.6);
        display: none;
        animation: fadeIn 0.3s forwards;
      }
      &.active {
        p {
          display: block;
        }
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
  @include responsivo("tablet") {
    .container {
      .faq {
        padding: 0 3.2rem;
        .item-faq {
          button {
            max-width: 55.4rem;
          }
        }
      }
    }
  }
  @include responsivo("mobile") {
    padding-top: 1.32rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
