.s-hero-obrigado {
  padding: 5.6rem 0 9.7rem;
  background: url(../assets/svg/bg-hero.svg) no-repeat center center;
  background-size: cover;
  .container {
    img {
      max-width: 17.6rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 5.2rem;
    }
    h1 {
      strong {
        color: $primary-orange;
        text-decoration: underline;
      }
      max-width: 75.9rem;
      text-align: center;
      margin: 0 auto;
    }
    h3 {
      color: $gray-06;
      opacity: 0.8;
      font-size: 2.4rem;
      line-height: 3.6rem;
      max-width: 54.9rem;
      text-align: center;
      margin: 2.4rem auto 0;
    }
  }
}
