.btn-primary {
  @include flex-center;
  background-color: $primary-orange;
  width: 100%;
  gap: 0.8rem;
  border-radius: 1rem;
  padding: 1.6rem 2.4rem;
  max-width: 34.1rem;
  transition: all 0.3s ease;
  span {
    color: $gray-06;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.92rem;
  }
  &:hover {
    background-color: #ff8f50;
    gap: 1.2rem;
  }
  &.blue {
    background-color: $primary-blue;
    &:hover {
      background-color: $gradient-blue;
    }
  }
}

.item-benefit {
  ul {
    li {
      @include flex-center;
      gap: 1.2rem;
      span {
        color: $gray-01;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.92rem;
        max-width: 24.6rem;
      }
      @include flex(row, flex-start, center);
      .icon {
        max-width: 3.2rem;
        padding: 0.8rem 1.1rem;
        border-radius: 50%;
        border: 0.15rem solid hsla(22, 87%, 57%, 0.4);
      }
    }
  }
}

span.tag {
  display: block;
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 8.4rem;
  opacity: 0.15;
  background: linear-gradient(179deg, #000 21.43%, #cdcdcd 81.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
