$primary-orange: #f17732;
$primary-blue: #022451;
$gradient-blue: linear-gradient(
  357deg,
  #022451 1.51%,
  rgba(5, 81, 183, 0.45) 97.08%
);
$gray-01: #212529;
$gray-02: #495057;
$gray-03: #adb5bd;
$gray-04: #dee2e6;
$gray-05: #f1f3f5;
$gray-06: #f8f9fa;
